!.gitkeep
*.log
/logs/
/config/*.prod.yaml

# IDE / Editor settings
.idea/
.vscode/
*.sublime*
*.iml

# OS system files
.DS_Store
Thumbs.db

# Editor swap / backup files
*~
*.swp
*.swo
*.bak

# Go build artifacts
*.exe
*.dll
*.so
*.dylib
*.test
*.out
