services:
  snowgo-nginx:
    image: nginx:1.26
    container_name: snowgo-nginx
    ports:
      - ${NGINX_PORT:-80}:8080
    restart: always
    logging:
      options:
        max-size: '10m'
        max-file: '10'
    volumes:
      - /etc/localtime:/etc/localtime
      - ./config/nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./config/nginx/conf.d:/etc/nginx/conf.d
      - ../data/nginx/log:/var/log/nginx/
      - ../dist:/usr/share/nginx/html/dist
    networks:
      - snowgo_network

  snowgo-mysql:
    image: mysql:5.7
    container_name: snowgo-mysql
    ports:
      - ${MYSQL_PORT:-3307}:3306
    environment:
      MYSQL_ROOT_PASSWORD: zx.123
      MYSQL_DATABASE: snowgo
    volumes:
      - /etc/localtime:/etc/localtime
      - ../data/mysql/data:/var/lib/mysql
      - ../data/mysql/logs:/var/log/mysql
      - ./config/mysql/my.cnf:/etc/mysql/my.cnf
      - ./docs/sql/init.sql:/docker-entrypoint-initdb.d/init.sql  # 映射初始化SQL
    restart: always
    networks:
      - snowgo_network
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "--password=zx.123" ]
      interval: 60s
      timeout: 1s
      retries: 3

  snowgo-redis:
    image: redis:6.2
    container_name: snowgo-redis
    restart: always
    ports:
      - ${REDIS_PORT:-6380}:6379
    privileged: true
    volumes:
      - /etc/localtime:/etc/localtime
      - ../data/redis/data:/data
      - ./config/redis/redis.conf:/usr/local/etc/redis/redis.conf
    command:
      redis-server /usr/local/etc/redis/redis.conf
    networks:
      - snowgo_network
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 60s
      timeout: 1s
      retries: 3

  snowgo-service:
    #image: ${SERVICE_IMAGE_NAME:-snowgo}:${SERVICE_IMAGE_VERSION:-v1.0.0}
    build:
      context: .
      dockerfile: Dockerfile
    container_name: snowgo-service
    restart: always
    logging:
      options:
        max-size: '5m'
        max-file: '10'
    environment:
      ENV: ${ENV:-container}
      SNOWFLAKE_NODE: 1
    privileged: true
    volumes:
      - /etc/localtime:/etc/localtime
      - ./config:/snowgo-service/config
      - ./logs/app1:/snowgo-service/logs
    networks:
      - snowgo_network
    depends_on:
      - snowgo-mysql
      - snowgo-redis

  snowgo-service2:
    #image: ${SERVICE_IMAGE_NAME:-snowgo}:${SERVICE_IMAGE_VERSION:-v1.0.0}
    build:
      context: .
      dockerfile: Dockerfile
    container_name: snowgo-service2
    restart: always
    logging:
      options:
        max-size: '5m'
        max-file: '10'
    environment:
      ENV: ${ENV:-container}
      SNOWFLAKE_NODE: 2
    privileged: true
    volumes:
      - /etc/localtime:/etc/localtime
      - ./config:/snowgo-service/config
      - ./logs/app2:/snowgo-service/logs
    networks:
      - snowgo_network
    depends_on:
      - snowgo-mysql
      - snowgo-redis

networks:
  snowgo_network:
    name: snowgo_network
    driver: bridge
    ipam:
      config:
        - subnet: ${SUBNET:-172.101.0.0/24}