application:
  enable_access_log: true  # 是否记录访问日志文件
  enable_pprof: true  # 是否打开pprof
  enable_trace: false  # 是否打开链路追踪
  tempo_endpoint: ""  # tempo服务地址
  server:
    name: snowgo容器测试环境 # 服务名
    version: v1
    addr: 0.0.0.0  # 服务地址
    port: 8000  # 端口号
    read_timeout: 30s # 当客户端发送请求后，服务器读取请求的时间超过该值，服务器将自动关闭连接
    write_timeout: 30s # 当服务器处理请求后，写入响应的时间超过该值，服务器将自动关闭连接
    max_header_mb: 4 # 单位M

log:
  output: file  # 日志输出的位置：console控制台输出，file输出到文件，multi控制台跟日志文件同时输出
  access_encoder: json  # 访问文件解析格式：normal正常格式输出；json输出为json
  log_encoder: json  # log文件解析格式：normal正常格式输出；json输出为json
  access_file_max_age_days: 14 # 访问文件最多保留多少天
  log_file_max_age_days: 14 # 日志文件最多保留多少天

mysql:
  enable_read_write_separation: false  # 是否配置读写分离
  dsn: root:zx.123@tcp(snowgo-mysql:3306)/snowgo?charset=utf8mb4&parseTime=true&loc=Local&timeout=3s
  table_prefix: ""  # 表前缀
  max_idle_conns: 16  # 设置闲置的连接数，默认值为2；推荐 ((核心数 * 2) + 有效磁盘数)
  max_open_conns: 120  # 设置最大打开的连接数，默认值为0，表示不限制
  conn_max_idle_time: 20m  # 连接空闲最大等待时间
  conn_max_life_time: 1h  # 设置了连接可复用的最大时间
  enable_sql_log: false  # 是否打印具体SQL
  slow_sql_threshold_time: 2s # 慢sql阈值(在设置printSqlLog=true有用)

redis:
  addr: snowgo-redis:6379  # 地址
  password: ""  # 密码
  db: 0  # 数据库
  dial_timeout: 2s  # 拨号超时
  read_timeout: 2s  # 读取超时
  write_timeout: 2s  # 写入超时
  idle_timeout: 60s  # 空闲超时
  min_idle_conns: 12  # 最小空闲连接数
  pool_size: 50  # 连接池最大链接数

jwt:
  issuer: snow-container  # 发布人
  jwt_secret: SJFFZCK$3Q6KMpcfkhNfZWD&M5dAD@nf  # jwt加密秘钥
  access_expiration_time: 10m  # 访问token到期时间
  refresh_expiration_time: 1h  # 刷新token到期时间
