services:
  elasticsearch:
    image: elasticsearch:8.19.8
    container_name: elasticsearch
    ports:
      - ${ES_PORT:-9200}:9200
      - "9300:9300"
    logging:
      options:
        max-size: '10m'
        max-file: '10'
    ulimits:
      memlock:
        soft: -1
        hard: -1
    environment:
      - cluster.name=es-cluster
      - discovery.type=single-node # 单一节点模式启动
      - "ES_JAVA_OPTS=-Xms2g -Xmx2g" # 1024m测试
      - ELASTIC_PASSWORD=${ELASTIC_PASSWORD:-zx.123}  # 设置密码
      - xpack.security.enabled=true

    volumes:
      - /etc/localtime:/etc/localtime:ro  # read-only
      - ./elasticsearch/elasticsearch.yml:/usr/share/elasticsearch/config/elasticsearch.yml
      - ./elasticsearch/plugins:/usr/share/elasticsearch/plugins
      - ./elasticsearch/data:/usr/share/elasticsearch/data
    restart: always
    networks:
      - elk_network
    healthcheck:
      test: [ "CMD-SHELL", "curl -f http://localhost:9200/_cluster/health?wait_for_status=yellow&timeout=30s || exit 1" ]
      interval: 30s
      retries: 3
      start_period: 2s
      timeout: 3s

  kibana:
    image: kibana:8.19.8
    container_name: kibana
    ports:
      - ${KIBANA_PORT:-5601}:5601
    logging:
      options:
        max-size: '10m'
        max-file: '5'
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
      - I18N_LOCALE=zh-CN
      - ELASTIC_USERNAME=${KIBANA_USER:-kibana_system}
      - ELASTIC_PASSWORD=${KIBANA_PASSWORD:-zx.123}
    volumes:
      - /etc/localtime:/etc/localtime:ro  # read-only
      - ./kibana/kibana.yml:/usr/share/kibana/config/kibana.yml
      - ./kibana/data:/usr/share/kibana/data
    restart: unless-stopped
    depends_on:
      elasticsearch:
        condition: service_healthy
    networks:
      - elk_network

  filebeat:
    image: docker.elastic.co/beats/filebeat:8.19.8
    container_name: filebeat
    logging:
      options:
        max-size: '10m'
        max-file: '5'
    volumes:
      - /etc/localtime:/etc/localtime:ro  # read-only
      - ./filebeat/filebeat.yml:/usr/share/filebeat/filebeat.yml
      - ./filebeat/data:/usr/share/filebeat/data
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - ../../logs:/var/logs:ro   # 把外部日志挂载到内部，实现日志收集监听(这里禁用做测试，根据情况修改为自己的日志路径)
    restart: always
    depends_on:
      elasticsearch:
        condition: service_healthy
    networks:
      - elk_network


networks:
  elk_network:
    driver: bridge
